header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav_all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul {
  display: flex;
  align-items: center;
  gap: 27px;
}

.ul .btna {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 153px;
  height: 50px;
  border-radius: 100px;
  background: #454545;
  display: none;
}

.ul .btna .btn1 svg {
  width: 25px;
  height: 14px;
  border: 2px;
  color: white;
}

.ul .btna .btn1 p {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.86px;
  text-align: left;
  color: #ffffff;
}

.ul li a {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  text-align: left;
  color: #454545;
  height: 19px;
}

.ul_list_ab p {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  text-align: left;
  color: #454545;
  height: 19px;
  display: none;
}

.ul_list_ab h5 {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  text-align: left;
  color: #454545;
  height: 19px;
  display: none;
}

.ul_list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.ul_list_a p {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  text-align: left;
  color: #454545;
  height: 19px;
}

.ul_list_a h5 {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  text-align: left;
  color: #454545;
  height: 19px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}

.menu_list {
  display: none;
  transition: all 0.15s linear;
}

.logo_img img {
  width: 170px;
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}

.logo_link {
  display: flex;
  align-items: center;
  gap: 31px;
}

.logo_link_all .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 153px;
  height: 50px;
  border-radius: 100px;
  background: #454545;
}

.logo_link_all .btn .btn1 svg {
  width: 25px;
  height: 14px;
  border: 2px;
  color: white;
}

.logo_link_all .btn .btn1 p {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.86px;
  text-align: left;
  color: #ffffff;
}

.navbar_sorch {
  border: 1px solid #454545;
  height: 50px;
  width: 100%;
  width: 626px;
  padding: 0 10px;
  flex: 1;
  display: flex;
  border-radius: 4px;
  position: relative;
  align-items: center;
  border-radius: 100px;
}

.navbar_sorch input {
  flex: 1;
  outline: none;
  border: none;
}

.navbar_sorch input::-moz-placeholder {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.86px;
  text-align: left;
  color: #454545;
}

.navbar_sorch input::placeholder {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.86px;
  text-align: left;
  color: #454545;
}

.navbar_sorch select {
  border: none;
  padding: 0 20px;
  background-color: rgb(91, 213, 61);
  color: white;
  font-size: 14px;
  width: 150px;
  outline: none;
}

.wishlist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wishlists {
  display: none;
}

.wishlist_all {
  position: relative;
}

.wishlist_all .span {
  padding: 0px 3px;
  background-color: red;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  position: absolute;
  top: -20%;
  margin-left: -3px;
}

.wishlist_all svg {
  width: 20px;
  height: 18px;
  color: #454545;
}

.wishlist_all img {
  width: 20px;
  height: 18px;
}

.wishlist_all p {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 600;
  line-height: 16.39px;
  text-align: left;
  color: #454545;
}

.wishlist1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.seach_flex {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}
.seach_flex .search {
  width: 100%;
  max-width: 626px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid rgb(69, 69, 69);
  border-radius: 100px;
  padding: 10px;
  display: flex;
  align-items: center;
}

input {
  flex: 1;
  outline: 0;
  border: 0;
}

@media (max-width: 900px) {
  .logo_link_all1 {
    display: none !important;
  }
  .wishlist1 {
    display: none !important;
    font-size: 50px;
    color: red;
  }
  .nav_all .ul {
    position: absolute;
    top: 105px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background: white;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    z-index: 10;
    transform-origin: top;
    transform: scaleY(0);
    line-height: 32px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .nav_all .ul.show {
    transform: scaleY(1);
  }
  .nav_all .ul li {
    border-bottom: 1px solid #454545;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav_all .ul li a {
    text-align: center;
    margin-bottom: 15px;
  }
  .nav_all .ul li .ul_list_ab p {
    display: block;
  }
  .nav_all .ul li .ul_list_ab h5 {
    display: block;
  }
  .nav_all .ul .btna {
    display: flex;
    align-items: center;
    width: 328px;
    height: 50px;
    border-radius: 100px;
    justify-content: center;
  }
  .nav_all .ul_list {
    display: none;
  }
  .nav_all .ul_list_ab p {
    display: block;
  }
  .nav_all .ul_list_ab h5 {
    display: block;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 14px 0;
  }
  .menu_list {
    display: block;
    font-size: 25px;
    margin-top: -7px;
    color: #454545;
    transition: all 0.15s linear;
  }
  .logo_img img {
    width: 150px;
    height: 24px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .logo_link {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 31px;
  }
  .logo_link_all .btn {
    display: none;
  }
  .navbar_sorch {
    border: 1px solid #454545;
    width: 850px;
    height: 40px;
    padding: 0 10px;
    border-radius: 100px;
    margin-top: -10px;
  }
  .navbar_sorch input {
    flex: 1;
    outline: none;
    border: none;
  }
  .navbar_sorch input::-moz-placeholder {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.12px;
    text-align: left;
  }
  .navbar_sorch input::placeholder {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.12px;
    text-align: left;
  }
  .wishlist {
    display: none;
  }
  .wishlists {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .wishlist_all {
    position: relative;
  }
  .wishlist_all .span {
    padding: 0px 3px;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    position: absolute;
    top: -20%;
    margin-left: -3px;
  }
  .wishlist_all svg {
    width: 20px;
    height: 18px;
    color: #454545;
  }
  .wishlist_all img {
    width: 20px;
    height: 18px;
  }
  .wishlist_all p {
    display: none;
  }
}
@media (max-width: 768px) {
  .nav_all .ul {
    position: absolute;
    top: 105px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background: white;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    z-index: 10;
    transform-origin: top;
    transform: scaleY(0);
    line-height: 32px;
  }
  .nav_all .ul.show {
    transform: scaleY(1);
  }
  .nav_all .ul li {
    border-bottom: 1px solid #454545;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav_all .ul li a {
    text-align: center;
    margin-bottom: 15px;
  }
  .nav_all .ul li .ul_list_ab p {
    display: block;
  }
  .nav_all .ul li .ul_list_ab h5 {
    display: block;
  }
  .nav_all .ul .btna {
    display: flex;
    align-items: center;
    width: 328px;
    height: 50px;
    border-radius: 100px;
    justify-content: center;
  }
  .nav_all .ul_list {
    display: none;
  }
  .nav_all .ul_list_ab p {
    display: block;
  }
  .nav_all .ul_list_ab h5 {
    display: block;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 14px 0;
  }
  .menu_list {
    display: block;
    font-size: 25px;
    margin-top: -7px;
    color: #454545;
    transition: all 0.15s linear;
  }
  .logo_img img {
    width: 150px;
    height: 24px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .logo_link {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 31px;
  }
  .logo_link_all .btn {
    display: none;
  }
  .navbar_sorch {
    border: 1px solid #454545;
    width: 728px;
    height: 40px;
    padding: 0 10px;
    border-radius: 100px;
    margin-top: -20px;
  }
  .navbar_sorch input {
    flex: 1;
    outline: none;
    border: none;
  }
  .navbar_sorch input::-moz-placeholder {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.12px;
    text-align: left;
  }
  .navbar_sorch input::placeholder {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.12px;
    text-align: left;
  }
  .wishlist {
    display: none;
  }
  .wishlists {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .wishlist_all {
    position: relative;
  }
  .wishlist_all .span {
    padding: 0px 3px;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    position: absolute;
    top: -20%;
    margin-left: -3px;
  }
  .wishlist_all svg {
    width: 20px;
    height: 18px;
    color: #454545;
  }
  .wishlist_all img {
    width: 20px;
    height: 18px;
  }
  .wishlist_all p {
    display: none;
  }
}
@media (max-width: 400px) {
  .nav_all .ul {
    position: absolute;
    top: 105px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background: white;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    z-index: 10;
    transform-origin: top;
    transform: scaleY(0);
    line-height: 32px;
  }
  .nav_all .ul.show {
    transform: scaleY(1);
  }
  .nav_all .ul li {
    border-bottom: 1px solid #454545;
    width: 328px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav_all .ul li a {
    text-align: center;
    margin-bottom: 15px;
  }
  .nav_all .ul li .ul_list_ab p {
    display: block;
  }
  .nav_all .ul li .ul_list_ab h5 {
    display: block;
  }
  .nav_all .ul .btna {
    display: flex;
    align-items: center;
    width: 328px;
    height: 50px;
    border-radius: 100px;
    justify-content: center;
  }
  .nav_all .ul_list {
    display: none;
  }
  .nav_all .ul_list_ab p {
    display: block;
  }
  .nav_all .ul_list_ab h5 {
    display: block;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 14px 0;
    gap: 5px;
  }
  .menu_list {
    display: block;
    font-size: 25px;
    margin-top: -7px;
    color: #454545;
    transition: all 0.15s linear;
  }
  .logo_img img {
    width: 150px;
    height: 20px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .logo_link {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 31px;
  }
  .logo_link_all .btn {
    display: none;
  }
  .navbar_sorch {
    border: 1px solid #454545;
    width: 368px;
    height: 40px;
    padding: 0 10px;
    border-radius: 100px;
    margin-top: -15px;
  }
  .navbar_sorch input {
    flex: 1;
    outline: none;
    border: none;
  }
  .navbar_sorch input::-moz-placeholder {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.12px;
    text-align: left;
  }
  .navbar_sorch input::placeholder {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.12px;
    text-align: left;
  }
  .wishlist {
    display: none;
  }
  .wishlists {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .wishlist_all {
    position: relative;
  }
  .wishlist_all .span {
    padding: 0px 3px;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    position: absolute;
    top: -20%;
    margin-left: -3px;
  }
  .wishlist_all svg {
    width: 20px;
    height: 18px;
    color: #454545;
  }
  .wishlist_all img {
    width: 20px;
    height: 18px;
  }
  .wishlist_all p {
    display: none;
  }
}
@media (max-width: 360px) {
  .nav_all .ul {
    position: absolute;
    top: 105px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background: white;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    z-index: 10;
    transform-origin: top;
    transform: scaleY(0);
    line-height: 32px;
  }
  .nav_all .ul.show {
    transform: scaleY(1);
  }
  .nav_all .ul li {
    border-bottom: 1px solid #454545;
    width: 328px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav_all .ul li a {
    text-align: center;
    margin-bottom: 15px;
  }
  .nav_all .ul li .ul_list_ab p {
    display: block;
  }
  .nav_all .ul li .ul_list_ab h5 {
    display: block;
  }
  .nav_all .ul .btna {
    display: flex;
    align-items: center;
    width: 328px;
    height: 50px;
    border-radius: 100px;
    justify-content: center;
  }
  .nav_all .ul_list {
    display: none;
  }
  .nav_all .ul_list_ab p {
    display: block;
  }
  .nav_all .ul_list_ab h5 {
    display: block;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 14px 0;
  }
  .menu_list {
    display: block;
    font-size: 25px;
    margin-top: -7px;
    color: #454545;
    transition: all 0.15s linear;
  }
  .logo_img img {
    width: 150px;
    height: 24px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .logo_link {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 31px;
  }
  .logo_link_all .btn {
    display: none;
  }
  .navbar_sorch {
    border: 1px solid #454545;
    width: 320px;
    height: 40px;
    padding: 0 10px;
    border-radius: 100px;
    margin-top: -20px;
  }
  .navbar_sorch input {
    flex: 1;
    outline: none;
    border: none;
  }
  .navbar_sorch input::-moz-placeholder {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.12px;
    text-align: left;
  }
  .navbar_sorch input::placeholder {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.12px;
    text-align: left;
  }
  .wishlist {
    display: none;
  }
  .wishlists {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .wishlist_all {
    position: relative;
  }
  .wishlist_all .span {
    padding: 0px 3px;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    position: absolute;
    top: -20%;
    margin-left: -3px;
  }
  .wishlist_all svg {
    width: 20px;
    height: 18px;
    color: #454545;
  }
  .wishlist_all img {
    width: 20px;
    height: 18px;
  }
  .wishlist_all p {
    display: none;
  }
}/*# sourceMappingURL=Navbar.css.map */