.navbar_top {
  .container {
  }
  a {
    text-decoration: none;
    color: rgb(69, 69, 69);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
  }
  .navbar_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding-top: 5px;
  }
  .nav_top {
    display: flex;
    gap: 27px;
  }
  .navbar_text button {
    width: 147px;
    height: 46px;
    border-radius: 30px;
    border: 0;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
  }
  .flex_nav {
    display: flex;
    padding-top: 5px;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    padding-top: 15px;

    .seach_flex {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 12px;
      .katalog {
        width: 153px;
        border: 0;
        cursor: pointer;
        color: rgb(255, 255, 255);
        font-family: Manrope;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        border-radius: 100px;
        background: rgb(69, 69, 69);
      }
      .search {
        width: 100%;
        max-width: 626px;
        height: 50px;
        box-sizing: border-box;
        border: 1px solid rgb(69, 69, 69);
        border-radius: 100px;
        padding: 10px;
        display: flex;
        align-items: center;
        input {
          flex: 1;
          outline: 0;
          border: 0;
        }
      }
    }
    .logo {
      display: flex;
      gap: 5px;
      align-items: center;
      h3 {
        color: rgb(69, 69, 69);
        font-size: 29px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0%;
        text-align: left;
      }
    }
    .icons {
      display: flex;
      align-items: center;
      gap: 29px;
      .iconi {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .icon {
        display: flex;
        flex-direction: column;
        align-items: center;

        svg {
          font-size: 22px;
        }
        p {
          color: rgb(69, 69, 69);
          font-family: Manrope;
          font-size: 12px;
          font-weight: 600;
          line-height: 16px;
          letter-spacing: 0%;
          text-align: left;
        }
      }
    }
  }

  .menu {
    display: none;
    border: 0;
    font-size: 40px;
    background: transparent;
    cursor: pointer;
    text-align: left;
    padding-top: 15px;
    color: rgb(0, 0, 0) !important;
    z-index: 100;
  }
}

@media (max-width: 1200px) {
  .navbar_top {
    .container {
    }
    a {
      text-decoration: none;
      color: rgb(69, 69, 69);
      font-family: Manrope;
      font-size: 14px;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0%;
      text-align: left;
    }
    .navbar_text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px;
      padding-top: 5px;
    }
    .nav_top {
      display: flex;
      gap: 27px;
    }
    .navbar_text button {
      width: 147px;
      height: 46px;
      border-radius: 30px;
      border: 0;
      color: rgb(0, 0, 0);
      cursor: pointer;
      font-size: 15px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0%;
      text-align: center;
    }
    .flex_nav {
      display: flex;
      padding: 10px;
      gap: 5px;
      justify-content: space-between;
      align-items: center;
      color: rgb(0, 0, 0);
      padding-top: 15px;
      padding-left: 1 px;
      .seach_flex {
        display: flex;
        align-items: center;
        gap: 12px;
        .katalog {
          display: none !important;
          width: 153px;
          border: 0;
          cursor: pointer;
          color: rgb(255, 255, 255);
          font-family: Manrope;
          font-size: 16px;
          font-weight: 600;
          line-height: 22px;
          letter-spacing: 0%;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          border-radius: 100px;
          background: rgb(69, 69, 69);
        }
        .search {
          top: 70px;
          margin: 0 auto;
          width: 90%;
          flex: 1;
          height: 50px;
          box-sizing: border-box;
          border: 1px solid rgb(69, 69, 69);
          border-radius: 100px;
          padding: 10px;
          display: flex;
          align-items: center;
          input {
            flex: 1;
            outline: 0;
            border: 0;
          }
        }
      }
      .logo {
        display: flex;
        gap: 5px;
        align-items: center;
        h3 {
          color: rgb(69, 69, 69);
          font-size: 20px;
          font-weight: 400;
          line-height: 35px;
          letter-spacing: 0%;
          text-align: left;
        }
      }
      .icons {
        display: flex;
        align-items: center;
        gap: 5px;
        .iconi {
          display: none;
        }
        .icon {
          display: flex;
          flex-direction: column;
          align-items: center;
          svg {
            font-size: 22px;
          }
          p {
            color: rgb(69, 69, 69);
            font-family: Manrope;
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            letter-spacing: 0%;
            text-align: left;
          }
        }
      }
    }

    .menu {
      display: none;
      border: 0;
      font-size: 40px;
      background: transparent;
      cursor: pointer;
      text-align: left;
      padding-top: 15px;
      color: rgb(0, 0, 0) !important;
      z-index: 100;
    }
  }
  .navbar_top .menu {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar_top .flex_nav {
    padding-left: 20px;
    padding-top: 1px;
  }
  .nav_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    margin-bottom: -30px;
    width: 100%;
    padding-bottom: 20px;
  }
  .navbar_text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    padding: 30px;
    box-shadow: 0 3px 5px #0002;
    gap: 20px;
    transition: transform 0.3s ease;
    transform-origin: top;
    transform: scaleY(0);
    z-index: 10;
  }

  .navbar_text.show {
    transform: scaleY(1);
  }
}
@media (max-width: 900px) {
  .flex_nav {
    position: relative;
    padding: 20px;
    .search {
      position: absolute;
      top: -50px;
      left: 0;
      right: 0;
      padding: 20px;
    }
  }
  .navbar_text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    padding: 30px;
    box-shadow: 0 3px 5px #0002;
    gap: 20px;
    transition: transform 0.3s ease;
    transform-origin: top;
    transform: scaleY(0);
    z-index: 10;
  }
}
@media (max-width: 600px) {
}
