.norn {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  .norn_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    button {
      width: 220px;
      height: 50px;
      box-sizing: border-box;
      border: 1px solid rgb(69, 69, 69) !important;
      border-radius: 100px;
      background-color: white;
      cursor: pointer;
      color: rgb(69, 69, 69);
      font-family: Manrope;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0%;
      text-align: center;
    }
  }
  .norn_carts {
    display: flex;
    align-items: center;
    // margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    padding-top: 50px;
    .norn_cart {
      width: 100%;
      max-width: 300px;
      height: 360px;
      box-sizing: border-box;
      border: 1px solid rgb(217, 217, 217);
      display: flex;
      flex-direction: column;
      gap: 105px;
      padding: 30px;
      padding-top: 35px;
      .gr {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        background: rgb(69, 69, 69);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .norn_text_flex {
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: 100px;
        h3 {
          color: rgb(69, 69, 69);
          font-family: Manrope;
          font-size: 20px;
          font-weight: 700;
          line-height: 130%;
          letter-spacing: 0%;
          text-align: left;
        }
        p {
          color: rgb(69, 69, 69);
          font-family: Manrope;
          font-size: 16px;
          font-weight: 400;
          line-height: 130%;
          letter-spacing: 0%;
          text-align: left;
        }
      }
    }
  }
}
.btn_0 {
  width: 100%;
  margin-top: 20px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid rgb(69, 69, 69) !important;
  border-radius: 100px;
  background: white;
  border: 0;
  cursor: pointer;
  display: none;
}
@media (max-width: 700px) {
  .btn_0 {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid rgb(69, 69, 69) !important;
    border-radius: 100px;
    background: white;
    border: 0;
    cursor: pointer;
    display: block;
  }
  .norn {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    .norn_text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 50px;
      button {
        display: none;
        width: 220px;
        height: 50px;
        box-sizing: border-box;
        border: 1px solid rgb(69, 69, 69) !important;
        border-radius: 100px;
        background-color: white;
        cursor: pointer;
        color: rgb(69, 69, 69);
        font-family: Manrope;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: center;
      }
    }
    .norn_carts {
      // display: flex;
      // align-items: center;
      // flex-wrap: wrap;
      // justify-content: center;
      padding-top: 50px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      column-gap: 5px;
      justify-items: center;
      align-items: center;
      padding-top: 50px;
      .norn_cart {
        width: 100%;
        max-width: calc(100% - 20px);
        height: 300px;
        box-sizing: border-box;
        border: 1px solid rgb(217, 217, 217);
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 30px;
        padding-top: 35px;
        .gr {
          width: calc(100% - 30px);
          height: calc(100% - 30px);
          max-height: 70px;
          max-width: 70px;
          border-radius: 10px;
          background: rgb(69, 69, 69);
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 50px;
          }
        }
        .norn_text_flex {
          display: flex;
          flex-direction: column;
          gap: 20px;
          height: 100px;
          h3 {
            color: rgb(69, 69, 69);
            font-family: Manrope;
            font-size: 18px;
            font-weight: 700;
            line-height: 130%;
            letter-spacing: 0%;
            text-align: left;
          }
          p {
            color: rgb(69, 69, 69);
            font-family: Manrope;
            font-size: 16px;
            font-weight: 400;
            line-height: 130%;
            letter-spacing: 0%;
            text-align: left;
            width: 180px;
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .norn_cart {
    gap: 20px !important;
    height: 250px !important;
  }
  .norn_carts {
    gap: 20px !important;
    column-gap: 0 !important;
  }
  .norn {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    .norn_text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 50px;
      h1 {
        font-size: 28px;
        margin: 0 auto;
      }
      button {
        width: 220px;
        height: 50px;
        box-sizing: border-box;
        border: 1px solid rgb(69, 69, 69) !important;
        border-radius: 100px;
        background-color: white;
        cursor: pointer;
        color: rgb(69, 69, 69);
        font-family: Manrope;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: center;
      }
    }
    .gr {
      height: 40px !important;
      width: 40px !important;
      border-radius: 10px;
      background: rgb(69, 69, 69);
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 30px !important;
        height: 30px !important;
      }
    }
    .norn_text_flex {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100px;
      position: relative;
      h3 {
        color: rgb(69, 69, 69);
        font-family: Manrope;
        font-size: 18px !important;
        font-weight: 700;
        line-height: 100%;
        width: 130px;
        position: relative;
        left: -10px;
        letter-spacing: 0%;
        text-align: left;
      }
      p {
        color: rgb(69, 69, 69);
        font-family: Manrope;
        font-size: 12px !important;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: left;
        position: absolute;
        top: 100px;
        width: 140px !important;
        left: -10px;
      }
    }
  }
}
@media (max-width: 370px) {
  .norn_cart {
    gap: 10px !important;
    height: 250px !important;
    line-height: 1;
  }
  .norn_carts {
    gap: 20px !important;
    column-gap: 0 !important;
  }
  .norn {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    .norn_text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 50px;
      h1 {
        font-size: 28px;
        margin: 0 auto;
      }
      button {
        width: 220px;
        height: 50px;
        box-sizing: border-box;
        border: 1px solid rgb(69, 69, 69) !important;
        border-radius: 100px;
        background-color: white;
        cursor: pointer;
        color: rgb(69, 69, 69);
        font-family: Manrope;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: center;
      }
    }
    .gr {
      height: 40px !important;
      width: 40px !important;
      border-radius: 10px;
      background: rgb(69, 69, 69);
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 30px !important;
        height: 30px !important;
      }
    }
    .norn_text_flex {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100px;
      position: relative;
      h3 {
        color: rgb(69, 69, 69);
        font-family: Manrope;
        font-size: 15px !important;
        font-weight: 700;
        width: 110px;
        position: relative;
        left: -20px;
        top: 20px;
        letter-spacing: 0%;
        text-align: left;
      }
      p {
        color: rgb(69, 69, 69);
        font-family: Manrope;
        font-size: 11px !important;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: left;
        position: absolute;
        top: 90px;
        width: 120px !important;
        left: -20px;
      }
    }
  }
}
